@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
    font-family: Nunito;
  }

  body {
    background-image: url("/sea-ground.svg"), url("/background-logo.svg"),
      radial-gradient(50% 50% at 50% 50%, #7b3fe7 0%, #6327ce 100%);
    background-position: bottom, center 80%;
    background-size: 100% auto, auto;
    color: white;
  }
}

@font-face {
  font-family: "Distruction";
  src: url("./assets/fonts/Distruction/Distruction.ttf");
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito/static/Nunito-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito/static/Nunito-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito/static/Nunito-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito/static/Nunito-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito/static/Nunito-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito/static/Nunito-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito/static/Nunito-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito/static/Nunito-ExtraLight.ttf");
  font-weight: 200;
}

.wave-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200%;
  height: 120%;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%230099ff" fill-opacity="1" d="M0,160L48,149.3C96,139,192,117,288,133.3C384,149,480,203,576,197.3C672,192,768,128,864,122.7C960,117,1056,171,1152,181.3C1248,192,1344,160,1392,144L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>') repeat-x;
  background-size: cover;
  animation: wave 10s linear infinite;
}
.content {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Wave animation */
@keyframes wave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
  
}